/* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#floating-panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    width: 350px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
}
#latlng {
    width: 225px;
}

#bombeSelector {

    position: absolute;
    top: 15%;
    left: 1%;
    width: 230px;
    height: 450px;
    z-index: 5;
    background-color: white;
    padding: 1px 20px;
    border: 5px solid black;
    border-radius: 10px;
}