<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bombes Historique</title>
    <link href = "/stylesheet/bombes.css" rel = "stylesheet" type = "text/css">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script type="text/javascript">

        $(document).ready(function()
        {

            document.getElementById("bombes").innerHTML += "<div>Allooooooo</div>";

        });

    </script>
</head>

<body>

<div id = "titre">
    <h1>Informations concernant les bombes !</h1>
</div>

<div id = "bombes">
    <a href="#dinamite">Dinamite</a>
    <a>Nucléaire</a>
    <a  href="#bombeH">Bombe H</a>
    ##############menu_content##############
    <a href="./mainPage" class="bouton">Retour à la map</a>
</div>

<div id = "info">
    <pre>
    ##############info_content##############
    </pre>
</div>

</body>

</html>