<!DOCTYPE html>

<html lang = en>

    <head>
        <meta charset="UTF-8">
        <title>Guide de l'utilisateur</title>
        <link href = "/stylesheet/guide.css" rel = "stylesheet" type = "text/css">
    </head>

    <body>
    <div id="pageTitre">
        <h4>Laurent Arsenault</h4>
        <h4>Jakob Boulanger</h4>
        <h4>Anthony Breton</h4>
        <h4>Samarône Elmi</h4>
        <h4>Wilfried Fotso</h4>
        <h4>Sciences informatiques et mathématiques</h4>
        <h4>groupe 2231</h4>
        <br><br><br><br><br><br><br>

        <h4>Guide de l'utilisateur</h4>
        <br><br><br><br><br><br><br>

        <h4>Travail présenté à</h4>
        <h4>M. Cédric Taschereau</h4>
        <h4>Département de technique de l’informatique</h4>
        <h4>pour le cours</h4>
        <h4 class="italic">Projet d’intégration en Sciences informatiques et mathématiques</h4>
        <br><br><br><br><br><br><br>

        <h4>Cégep de Sherbrooke</h4>
        <h4>7 mai 2019</h4>
        <br><hr><br>


    </div>

    <nav id="tableMatieres">
        <h1>Table des matières</h1>
        <a href="#introduction" class="matiere">Introduction</a>
        <a href="#demarrage" class="matiere">Démarrage</a>
        <a href="#utilisation" class="matiere">Utilisation</a>
        <a href="#options" class="matiere">Options</a>
    </nav>

    <div id="introduction">
        <h2>Introduction</h2>
        <p>
            Le site web web conçu ci-présent tient comme objectif d’instruire les utilisateurs et de stimuler le désir
            d’apprentissage que ceux-ci pourraient éprouver à l’égard des procédés chimiques et physiques expliqués
            interactivement lors de l’utilisation des fonctionnalités de la page web.<br />
            En observant les batailles historiques survenues au courant des dernières décennies, on remarque une
            augmentation massive du stock d’armes explosives. Il pourrait ainsi sembler important que tous bénéficient
            de la connaissance relative à l’expansion militaire qui les entoure. De cette manière, vous pourrez, chers
            utilisateurs, combler votre besoin d’apprentissage en exploitant les fonctionnalités de notre site web au
            moyen d’une simulation ayant comme thème le lancement de bombes qui auront marqué l’histoire. Notre
            simulateur vous permettra de comprendre facilement comment fonctionnaient les bombes historiques, selon des
            procédés chimiques complexes, et quelles étaient les répercussions en temps réel sur l’environnement
            physique composant les villes et les villages touchés par l’explosion.
        </p>
    </div>
    <div id="demarrage">
        <h2>Démarrage</h2>
        <p>
            Sachant que le projet n’est malheureusement pas disponible en ligne, il est possible de cloner le répo git pour accéder aux fichiers composant le projet. Par la suite, il sera nécessaire à l’utilisateur de télécharger les modules requis présents dans le fichier package.json du projet, ainsi que de télécharger le langage Node.js pour assurer la compilation fonctionnelle du programme. Finalement, à l’aide de la commande node effectuée sur le fichier menu.js, l’utilisateur souhaitant exploiter les fonctionnalités du site pourra le faire localement.
            Dans le cas ou quelconque programmeur souhaiterait continuer le développement du projet, il lui est possible de cloner le répo git du projet Bombes historiques, distribué publiquement et partagé au lien suivant : <a href="https://github.com/Trakq/Bombes-historiques">https://github.com/Trakq/Bombes-historiques</a>. Par la suite, il lui sera recommandé d’installer l’IDE Webstorm accessible en cliquant sur le lien suivant : <a href="https://www.jetbrains.com/webstorm/">https://www.jetbrains.com/webstorm/</a>. Finalement, il serait recommandé au programmeur d’utiliser le langage de programmation Node.js pour avancer le développement du projet.
        </p>
    </div>
    <div id="utilisation">
        <h2>Utilisation</h2>
        <p>Le démarrage des fonctionnalités est très simple. À partir de la page d’accueil, il est possible de sélectionner la bombe historique souhaitée présentée sous forme de liste déroulante. Par la suite, une fois celle-ci choisie, il ne reste plus qu’à appuyer à l’endroit sur la map ou l’utilisateur souhaitera observer les répercussions à court terme de la simulation de l’explosion.
            Pour obtenir les informations en lien avec les réactions chimiques composant l’explosion des bombes historiques, il est possible de cliquer sur le bouton « Accéder aux bombes », envoyant l’utilisateur directement à la page prévue à cet effet.
        </p>
    </div>
    <div id="options">
        <h2>Options</h2>
        <p>Depuis la page principale du site web, on remarque deux options distinctes qui redirigent respectivement vers le simulateur de bombes historiques et vers la page d'information des bombes historiques.</p>
        <img src="https://scontent.fymq2-1.fna.fbcdn.net/v/t1.15752-9/59442333_597245217462164_2464661695704858624_n.png?_nc_cat=108&_nc_ht=scontent.fymq2-1.fna&oh=0ffa9df13bea97951138dabaa581d882&oe=5D700C57" alt="Menu">

        <p>Par la suite, sur la page du simulateur de bombes, on note plusieurs options comprises dans le menu de gauche, illustré ci-dessous.</p>
        <img src="https://scontent.fymq2-1.fna.fbcdn.net/v/t1.15752-9/59439835_434534953990859_8059123419293155328_n.png?_nc_cat=110&_nc_ht=scontent.fymq2-1.fna&oh=e8c33d04de3d9a89f2928663999331d4&oe=5D6CA65F" alt="Map">
        <p>Tout en haut du menu se trouve la liste déroulante affichant toutes les bombes que l’utilisateur peut choisir pour la simulation. En dessous se retrouve la liste déroulante affichant les lieux que l’utilisateur pour choisir comme cible pour la simulation. Finalement, il est possible de cliquer sur le bouton « accéder aux bombes » pour être redirigé vers la page d’information des bombes historiques. </p>

        <p>Finalement, comme illustré sur l’image ci-dessous, il est possible, depuis la page d’information des bombes historiques, de cliquer sur les boutons en rouge présents à la table des matières présentée à gauche de l’écran pour se situer dans la page. Il est aussi possible de retourner à la simulation en cliquant sur le bouton « Retour à la map ».</p>
        <img src="https://scontent.fymq2-1.fna.fbcdn.net/v/t1.15752-9/59549190_825408291156274_7399392004263641088_n.png?_nc_cat=109&_nc_ht=scontent.fymq2-1.fna&oh=cd312b5bd795f4ab4fd555a3a04253f4&oe=5D2FC526" alt="Informations">
    </div>
    </body>
</html>