<!DOCTYPE html>

<html lang = en>

    <head>
        <meta charset="UTF-8">
        <title>Guide de l'utilisateur</title>
    </head>
    <body>

    <nav>
        <ul>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#demarrage">Démarrage</a></li>
            <li><a href="#utilisation">Utilisation</a></li>
            <li><a href="#options">Options</a></li>
        </ul>
    </nav>

    <div id="introduction">
        <h2>Introduction</h2>
        <p>
            Le site web web conçu ci-présent tient comme objectif d’instruire les utilisateurs et de stimuler le désir
            d’apprentissage que ceux-ci pourraient éprouver à l’égard des procédés chimiques et physiques expliqués
            interactivement lors de l’utilisation des fonctionnalités de la page web.<br />
            En observant les batailles historiques survenues au courant des dernières décennies, on remarque une
            augmentation massive du stock d’armes explosives. Il pourrait ainsi sembler important que tous bénéficient
            de la connaissance relative à l’expansion militaire qui les entoure. De cette manière, vous pourrez, chers
            utilisateurs, combler votre besoin d’apprentissage en exploitant les fonctionnalités de notre site web au
            moyen d’une simulation ayant comme thème le lancement de bombes qui auront marqué l’histoire. Notre
            simulateur vous permettra de comprendre facilement comment fonctionnaient les bombes historiques, selon des
            procédés chimiques complexes, et quelles étaient les répercussions en temps réel sur l’environnement
            physique composant les villes et les villages touchés par l’explosion.
        </p>
    </div>
    <div id="demarrage">
        <h3>Démarrage</h3>
        <p>
            Sachant que le projet n’est malheureusement pas disponible en ligne, il est possible de cloner le répo git pour accéder aux fichiers composant le projet. Par la suite, il sera nécessaire à l’utilisateur de télécharger les modules requis présents dans le fichier package.json du projet, ainsi que de télécharger le langage Node.js pour assurer la compilation fonctionnelle du programme. Finalement, à l’aide de la commande node effectuée sur le fichier main.js, l’utilisateur souhaitant exploiter les fonctionnalités du site pourra le faire localement.
            Dans le cas ou quelconque programmeur souhaiterait continuer le développement du projet, il lui est possible de cloner le répo git du projet Bombes historiques, distribué publiquement et partagé au lien suivant : <a href="https://github.com/Trakq/Bombes-historiques">https://github.com/Trakq/Bombes-historiques</a>. Par la suite, il lui sera recommandé d’installer l’IDE Webstorm accessible en cliquant sur le lien suivant : <a href="https://www.jetbrains.com/webstorm/">https://www.jetbrains.com/webstorm/</a>. Finalement, il serait recommandé au programmeur d’utiliser le langage de programmation Node.js pour avancer le développement du projet.
        </p>
    </div>
    <div id="utilisation">
        <h3>Utilisation</h3>
        <p>Le démarrage des fonctionnalités est très simple. À partir de la page d’accueil, il est possible de sélectionner la bombe historique souhaitée présentée sous forme de liste déroulante. Par la suite, une fois celle-ci choisie, il ne reste plus qu’à appuyer à l’endroit sur la map ou l’utilisateur souhaitera observer les répercussions à court terme de la simulation de l’explosion.
            Pour obtenir les informations en lien avec les réactions chimiques composant l’explosion des bombes historiques, il est possible de cliquer sur le bouton « », envoyant l’utilisateur directement à la page prévue à cet effet.
        </p>
    </div>
    <div id="options">

    </div>
    </body>
</html>