<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bombes Historique</title>
    <style>
        html, body {
            background-image: url("https://www.komar.de/media/catalog/product/cache/4/image/1630dd9ade9402c050107763f906ccdc/x/x/xxl4-038_world-map_ma.jpg");
            height: fit-content;
            margin: 0;
            padding: 0;
        }
        #box {

            width: 80%;
            margin: 3% auto;
            height: 20vh;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 40px;
        }
    </style>
</head>
<body>
<div id = "box">
    <h1>Bienvenu sur notre simulateur de bombes !</h1>
    <br>
    <!--<img src="https://www.komar.de/media/catalog/product/cache/4/image/1630dd9ade9402c050107763f906ccdc/x/x/xxl4-038_world-map_ma.jpg" alt="World map" id="logoMenu" width="768" height="432">-->
    <br>
    <a href="./mainPage">Accèder à la map</a>
    <br>
    <a href="./bombes">Accèder à la page des bombes</a>
</div>
</body>
</html>