<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bombes Historique</title>
    <link href = "/stylesheet/menu.css" rel = "stylesheet" type = "text/css">
</head>
<body>
<div id = "box">
    <h1>Bienvenue sur notre simulateur de bombes !</h1>
    <hr>
    <!--<img src="https://www.komar.de/media/catalog/product/cache/4/image/1630dd9ade9402c050107763f906ccdc/x/x/xxl4-038_world-map_ma.jpg" alt="World map" id="logoMenu" width="768" height="432">-->
    <br>
    <a href="./mainPage" class="option">Accèder à la map</a>
    <br>
    <a href="./bombes"class="option">Accèder à la page des bombes</a>
</div>
</body>
</html>